body {
	font-family: 'Open Sans', sans-serif;
}

.Main-Nav{
	list-style: none;
	text-align: center;
	background-color:#B90504;
	text-color:F6F6F6;
}
.Main-Nav li{
	display: inline-block;
	padding: 20px;
}
