/* achtergrondfoto van hele site */
.body1 {
	background-image: url("Resources/Background.jpg");
	
}
/* De titel van index.html*/
.titel { text-align:center;
background-color: black;
}
/*singelland logo bovenin site */
 img.right2 { 
  margin-left: 45%

  }
 /* navigatiebalk */
.nav {
    list-style-type: none;
    margin: 20px;
    padding: 0;
	border-radius:30px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.3);
	
}
/* display van de pagina's op navigatiebalk */
.list {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;

}

/* geeft zwarte kleur als je met muis over navigatiebalk gaat */
.list:hover {
    background-color: #111;
}


/* paginaindeling op home.html, 55% links 40% rechts */ 
#left {float: left; width: 55%;}

#right {float: right; width: 40%;}

/* bovenste blok bij home.html */
p.leftup {
  margin: 10px; 
  margin-top: 20px; 
  border-style: solid; 
  border-width: 2px; 
  border-color: #333; 
  border-radius: 10px;
  height: 40%;  
  background-color: blue;
  color: white;
  padding: 20px;
 }
 /* onderste blok by home.html */
 p.leftdown {
  margin: 10px;
  margin-top: 20px; 
  border-style: solid; 
  border-width: 2px; 
  border-color: #333; 
  height: 40%;
  background-color: rgba(0,0,0,0.3);;
  color: white; 
  border-radius:30px;
  padding: 20px;
 }
 /* rechterkant bij home.html, gebied waar foto's instaan */
 p.right {
  margin: 10px; 
  border-style: solid; 
  border-width: 20px; 
  border-color: rgba(0,0,0,0.3); 
  height: 50%;
  color: white;
  text-align: center;
 }
 /* eerste foto van home.html die links staat */
 img.profile1 {
   float: left; 
   width: 43%; 
   border: solid; 
   border-color: #333;
   margin-left: 20px;
   margin-top: 10px;
   }
 /* tweede foto van home.html die rechts staat */
 img.profile2 {
   float: right; 
   width: 43%; 
   border: solid; 
   border-color: #333; 
   margin-right: 20px;
   margin-top: 10px;
   }
 /* onderaan home.html, naam met copyright symbool */
p.info {
   margin: 20px; 
   margin-top: 40px;
   color: black;
   
 }   
 /* gebruikt op p2 en p3 voor de body */
  .body2 {
	 width: 96%;
	 margin: 0 auto;
 }
 /* headers opmaken */
 .header1 { color: white;
			text-align: center;
			font-family: helvetica;
			

 }
 /* paragrafen opmaken */
 .paragraph1 {
	 background-color: rgba(0,0,0,0.3);
	 padding: 40px;
	 Border-radius: 10px; 
	 font-family: Arial;
	 width: 25%;
	 color: white;
	 
 }
  /* gif op p3 */
 .gifts {
	 float: right; 
	 width: 60%;
	 background-color: rgba(0,0,0,0.3);
 }
 /* logo op p2 van singelland */
.singellandlogo {
	 float: right; 
	 width: 40%;
	 background-color: rgba(0,0,0,0.3);
	 


 }
 /* geeft kleur rood voor p3 */
 .red {
	 color:red;
 }
 /* geeft kleur groen voor p3 */
 .green {
	 color:green;
 }
 /* videoopmaak */
video.videos {
   margin: 20px;
   float: left;
}
/* video van youtube opmaken */
iframe.videoright {
   margin: 20px;
   margin-left: 0px;
   float: right;
 }
/* opmaak 'Contactgegevens' */
 h2.contact {
    margin: 20px;
    color: white;
  }
  /* p5 linkerkant= text */
  p.left {
	float: left;
  }
  /* p5 rechterkant= foto's */
  p.right {
	float: right;  
  }
  
